[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-filter:before {
  content: "\e902";
}
.icon-small-arrow-left:before {
  content: "\e901";
  color: #fff;
}
.icon-light-minus:before {
  content: "\e900";
  color: #FFC33C;
}
.icon-error:before {
  content: "\e90c";
  color: #e03a3e;
}
.icon-success:before {
  content: "\e90d";
  color: #FFC33C;
}
.icon-small-okey:before {
  content: "\e90e";
  color: #FFC33C;
}
.icon-small-cargo:before {
  content: "\e90f";
  color: #9e9e9e;
}
.icon-small-supermarket:before {
  content: "\e910";
  color: #9e9e9e;
}
.icon-small-like:before {
  content: "\e911";
  color: #9e9e9e;
}
.icon-circle-plus:before {
  content: "\e912";
  color: #ccc;
}
.icon-eye:before {
  content: "\e913";
  color: #707070;
}
.icon-small-arrow-right:before {
  content: "\e914";
  color: #fff;
}
.icon-figure:before {
  content: "\e915";
  color: #d9f295;
}
.icon-clothes:before {
  content: "\e916";
  color: #FFC33C;
}
.icon-speed-cargo:before {
  content: "\e917";
  color: #FFC33C;
}
.icon-coupon:before {
  content: "\e918";
  color: #FFC33C;
}
.icon-like:before {
  content: "\e919";
  color: #FFC33C;
}
.icon-close:before {
  content: "\e91a";
  color: #9e9e9e;
}
.icon-close-circle-small:before {
  content: "\e91b";
  color: #9e9e9e;
}
.icon-edit:before {
  content: "\e91c";
  color: #FFC33C;
}
.icon-exclamation:before {
  content: "\e920";
  color: #ff9300;
}
.icon-arrow-left:before {
  content: "\e921";
}
.icon-arrow-right:before {
  content: "\e922";
}
.icon-light-plus:before {
  content: "\e923";
  color: #FFC33C;
}
.icon-star-full:before {
  content: "\e925";
  color: #fac432;
}
.icon-checked:before {
  content: "\e926";
  color: #FFC33C;
}
.icon-light-arrow-bottom:before {
  content: "\e92a";
  color: #9e9e9e;
}
.icon-light-magnifying:before {
  content: "\e92b";
}
.icon-twitter:before {
  content: "\e92c";
  color: #fff;
}
.icon-facebook:before {
  content: "\e92d";
  color: #fff;
}
.icon-instagram:before {
  content: "\e92e";
  color: #fff;
}
.icon-world:before {
  content: "\e933";
  color: #9f9f9f;
}
.icon-magnifying:before {
  content: "\e934";
  color: #FFC33C;
}
.icon-star:before {
  content: "\e935";
  color: #FFC33C;
}
.icon-arrow-bottom-bold:before {
  content: "\e936";
  color: #FFC33C;
}
.icon-arrow-bold:before {
  content: "\e936";
  color: #333;
}
.icon-person:before {
  content: "\e937";
  color: #333;
}
.icon-otaci-icon:before {
  content: "\e938";
  color: #aacb52;
}
.icon-zoom:before {
  content: "\e939";
  color: #aacb52;
}
.icon-basket-small:before {
  content: "\e93a";
  color: #fff;
}
.icon-basket-big:before {
  content: "\e93b";
  color: #fff;
}
.icon-arrow-right-circle:before {
  content: "\e93c";
  color: #FFC33C;
}
.icon-arrow-left-circle:before {
  content: "\e93d";
  color: #FFC33C;
}
.icon-three-leaf:before {
  content: "\e93e";
  color: #FFC33C;
}
.icon-drop:before {
  content: "\e93f";
  color: #FFC33C;
}
.icon-leaf:before {
  content: "\e940";
  color: #FFC33C;
}
.icon-rabbit:before {
  content: "\e941";
  color: #FFC33C;
}